* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #f7f7f7;
	font-family: "Google Sans", Roboto, arial, sans-serif;
}

img {
	height: 55px;
}

header {
	height: 10vh;
	padding: 3.5em;

}

body {
	/*	padding: 2em;*/
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85vh;
}


footer {
	padding: 1em;
	background: #0B0955;
	height: 5vh;
}

footer p {
	background: #0B0955;
	color: white;
	font-size: 70%;
	text-align: end;
}

.login {}

label {
	color: #0B0955;
	font-weight: bolder;
}

input[type=text] {
	margin-bottom: 1.5em;
	margin-top: .7em;
	height: 3em;
	outline: none;
	border: none;
	background: white;
	width: 100%;
	box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
	font-size: 1em;
	padding: 1em;
}

.login h2 {
	color: #0B0955;
	margin-bottom: .5em;
	font-weight: bolder;
	font-size: 3em;

}

.login h2 + p {
	color: #0B0955;
	margin-bottom: 2em;
}

button[type=submit] {
	background: #0B0955;
	color: white;
	width: 100%;
	padding: .6em;
	border-radius: 5px;
	margin-top: 2em;
	margin-bottom: 2em;
	font-size: 1.2em;
	cursor: pointer;
}

form + p,
form + p + p {
	text-align: center;
	padding: .2em;
}

p a {
	text-decoration: none;
	color: #04CCCA;
}

input[type=checkbox] {
	height: 12px;
	width: 12px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	background-color: white;
	cursor: pointer;
	margin-right: .2em;
	box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
}
input[type=checkbox]:checked {
	background-color: #0B0955;
}


input[type=checkbox]:focus {
	outline: none;
}

